# ignore all by default
*

# home config
!README.md
!.gitignore
!.gitconfig
!.zprofile
!.zutils

# base config folder, but does not add everything inside
!.config/

# hyprland config
!.config/hypr/
!.config/hypr/**
.config/hypr/hyprland.host.conf


!.config/waybar/
!.config/waybar/style.css
!.config/waybar/waybar.jsonc

!.config/zellij/
!.config/zellij/**

!.config/ghostty
!.config/ghostty/config
!.config/ghostty/keybindings.config

# local scripts
!.local/
!.local/bin/
!.local/bin/.home_setup/
!.local/bin/.home_setup/arch.sh
!.local/bin/.home_setup/arch_dev.sh
!.local/bin/.home_setup/clone.sh
!.local/bin/jwt
!.local/bin/idea
!.local/bin/jrnl_daily.sh


# wofi
!.config/wofi/
!.config/wofi/**

# wlogout
!.config/wlogout/
!.config/wlogout/layout
!.config/wlogout/style.css

# satty (screenshots)
!.config/satty/
!.config/satty/config.toml
!.config/satty/overrides.css

# docker-clean plugin
!.docker/
!.docker/cli-plugins/
!.docker/cli-plugins/docker-clean


# keyd
!.config/keyd/
!.config/keyd/default.conf

