# ignore all by default
*

# add this only
!.gitignore
!.gitconfig

# base config folder, but does not add everything inside
!.config/

# hyprland config
!.config/hypr/
!.config/hypr/**

!.config/waybar/
!.config/waybar/style.css
!.config/waybar/waybar.jsonc

