# ignore all by default
*

# home config
!README.md
!.gitignore
!.gitconfig
!.zshrc
!.zprofile

# base config folder, but does not add everything inside
!.config/

# hyprland config
!.config/hypr/
!.config/hypr/**

!.config/waybar/
!.config/waybar/style.css
!.config/waybar/waybar.jsonc

!.config/zellij/
!.config/zellij/config.kdl
!.config/zellij/layouts/
!.config/zellij/layouts/default.kdl

!.config/ghostty
!.config/ghostty/config

# local scripts
!.local/
!.local/bin/
!.local/bin/.home_setup/
!.local/bin/.home_setup/arch.sh
!.local/bin/.home_setup/arch_dev.sh
!.local/bin/.home_setup/clone.sh
!.local/bin/jwt
!.local/bin/idea

